<ul class="sidebar-list">
  <li class="sidebar-item">
    <%= link_to "Listing", listing_parking_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Pricing", pricing_parking_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Description", description_parking_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Photos", photo_upload_parking_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Amenities", amenities_parking_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Location", location_parking_path, class: "sidebar-link active" %>
  </li>
</ul>
