<div class="row ">
  <div class="col-md-3">
<%= render 'parking_menu'%>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Listing
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @parking do |f| %>

            <div class="row">

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Parking Space Location</label>
                  <%= f.select :space_type, [["Driveway", "Driveway"], ["Street", "Street"], ["Parking Lot", "Parking Lot"]],
                                id: "space_type", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Parking Space Type</label>
                  <%= f.select :parking_type, [["Public", "Public"], ["Private", "Private"], ["Shared", "Shared"]],
                                id: "parking_type", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Parking Spots Availible</label>
                  <%= f.select :parking_spot, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                id: "parking_spot", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Booking Type</label>
                  <%= f.select :instant, Parking.instants.map {|key, value| [key.humanize, key]}, selected: 'Instant', prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <!-- <div class="col-md-4 select">
                <div class="form-group">
                  <label>Accommodate</label>
                  <%= f.select :accommodate, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                id: "accommodate", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Parking Spot</label>
                  <%= f.select :parking_spot, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                id: "parking_spot", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Parking Availible</label>
                  <%= f.select :parking_avail, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                id: "parking_avail", prompt: "Select...", class: "form-control" %>
                </div>
              </div> -->

            </div>

            <div>
                <%= f.submit "Save", class: "btn btn-block btn-normal" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
